## Load Checkpoint file

In [46]:
import pandas as pd

# Load the CSV file
file_path = 'image_status_checkpoint.csv'  # Replace with your actual file path
df = pd.read_csv(file_path)

# Drop duplicates based on 'X' and 'Y' columns
df1 = df.drop_duplicates(subset=['X', 'Y'])

In [47]:
df1

               Y          X  View        Status
0      37.201708 -86.060254     0  ZERO_RESULTS
4      38.294871 -80.328543     0  ZERO_RESULTS
8      35.518393 -83.486841     0  ZERO_RESULTS
12     35.555762 -83.662781     0  ZERO_RESULTS
16     35.708465 -83.331794     0  ZERO_RESULTS
...          ...        ...   ...           ...
87564  30.480306 -83.225497     0  ZERO_RESULTS
87568  32.952781 -83.447146     0  ZERO_RESULTS
87572  34.233178 -87.005090     0  ZERO_RESULTS
87576  34.787052 -91.185580     0            OK
87580  34.798666 -87.586411     0  ZERO_RESULTS

[21895 rows x 4 columns]

## Load Original Coordinates File

In [48]:
file_name = 'gps_twi_ghm.xlsx'
df  = pd.read_excel(file_name, sheet_name='all_data') 
df2 = df.drop_duplicates(subset=['X', 'Y'])

In [49]:
df2

               X          Y       gHM        TWI
0     -86.060254  37.201708  0.000000   7.725325
1     -80.328543  38.294871  0.000000   6.619407
2     -83.486841  35.518393  0.000000   6.786229
3     -83.662781  35.555762  0.000000   4.754903
4     -83.331794  35.708465  0.000000   4.955486
...          ...        ...       ...        ...
24084 -73.964487  40.582379  0.951931  13.961430
24085 -84.408286  33.731479  0.952147   6.811067
24086 -95.358267  29.764465  0.953498   4.499810
24087 -83.920285  35.967406  0.954781   5.097647
24089 -73.934428  40.743897  0.955685   6.394989

[21887 rows x 4 columns]

## In Originial but not in Checkpoint

In [50]:
# Merge with an indicator to find rows in df2 not in df1
merged_df = df2.merge(df1[['X', 'Y']], on=['X', 'Y'], how='left', indicator=True)

# Filter rows that are only in df2
df_not_in_both = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])

# Save or display the resulting DataFrame
df_not_in_both.to_csv('unique_to_df2.csv', index=False)  # Optional: save the results to a file

In [51]:
df_not_in_both

               X          Y       gHM        TWI
2230  -88.666951  31.521257  0.091075   8.031014
15868 -91.185580  34.787052  0.479920  10.015404
21284 -78.646788  35.801710  0.844041  12.684935
21483 -95.540937  30.203198  0.872705   7.395710

## In Checkpoint but not in Original

In [52]:
import pandas as pd

# Merge with an indicator to find rows in df2 not in df1
merged_df = df2.merge(df1[['X', 'Y']], on=['X', 'Y'], how='right', indicator=True)

# Filter rows that are only in df2
df_not_in_both = merged_df[merged_df['_merge'] == 'right_only'].drop(columns=['_merge'])

# Save or display the resulting DataFrame
df_not_in_both.to_csv('unique_to_df1.csv', index=False)  # Optional: save the results to a file

In [53]:
df_not_in_both

               X          Y  gHM  TWI
21883 -88.666951  31.521257  NaN  NaN
21884 -91.185580  34.787052  NaN  NaN
21885 -78.646788  35.801710  NaN  NaN
21886 -95.540937  30.203198  NaN  NaN
21887 -87.962863  32.957719  NaN  NaN
21888 -89.778554  34.578373  NaN  NaN
21889 -88.771410  35.214964  NaN  NaN
21890 -83.225497  30.480306  NaN  NaN
21891 -83.447146  32.952781  NaN  NaN
21892 -87.005090  34.233178  NaN  NaN
21893 -91.185580  34.787052  NaN  NaN
21894 -87.586411  34.798666  NaN  NaN

## Fix Checkpoint File

In [54]:
import pandas as pd

# Load the main DataFrame
file_path = 'image_status_checkpoint.csv'  # Replace with your actual file path
df = pd.read_csv(file_path)

In [55]:
df

               Y          X  View        Status
0      37.201708 -86.060254     0  ZERO_RESULTS
1      37.201708 -86.060254    90  ZERO_RESULTS
2      37.201708 -86.060254   180  ZERO_RESULTS
3      37.201708 -86.060254   270  ZERO_RESULTS
4      38.294871 -80.328543     0  ZERO_RESULTS
...          ...        ...   ...           ...
87591  35.801710 -78.646788   270            OK
87592  30.203198 -95.540937     0  ZERO_RESULTS
87593  30.203198 -95.540937    90  ZERO_RESULTS
87594  30.203198 -95.540937   180  ZERO_RESULTS
87595  30.203198 -95.540937   270  ZERO_RESULTS

[87596 rows x 4 columns]

In [56]:
# Assuming df_not_in_both is already defined and loaded
# Filter out rows in `df` that match `X` and `Y` pairs in `df_not_in_both`
df_filtered = df[~df.set_index(['X', 'Y']).index.isin(df_not_in_both.set_index(['X', 'Y']).index)]

In [57]:
df_filtered

               Y          X  View        Status
0      37.201708 -86.060254     0  ZERO_RESULTS
1      37.201708 -86.060254    90  ZERO_RESULTS
2      37.201708 -86.060254   180  ZERO_RESULTS
3      37.201708 -86.060254   270  ZERO_RESULTS
4      38.294871 -80.328543     0  ZERO_RESULTS
...          ...        ...   ...           ...
87527  35.967406 -83.920285   270            OK
87528  40.743897 -73.934428     0            OK
87529  40.743897 -73.934428    90            OK
87530  40.743897 -73.934428   180            OK
87531  40.743897 -73.934428   270            OK

[87532 rows x 4 columns]

In [58]:
# Save or display the filtered DataFrame
df_filtered.to_csv('image_status_checkpoint.csv', index=False)  # Optional: save to a new file

In [ ]:
import pandas as pd

# Load CSV into a DataFrame
df = pd.read_csv('unique_to_df1.csv')
df